<div class="p-3 painelWrapper d-flex justify-content-center">
    <div class="w-100 pt-3 pb-1">
        <div>
            <h1 class="h1 titleBorder px-3">Bem vindo!</h1>
            <h4 class="text-muted">ESTES SÃO OS MÓDULOS QUE VOCÊ TEM ACESSO:</h4>
            <!-- <p class="lead" *ngIf="isUserActive">
                Estes são os módulos que você tem acesso:
            </p> -->
        </div>
        <!-- <div class="">
            <div class="row m-0 p-4">
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Cadastrar Novo Usuário</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para auxiliar criação de novos usuários, além de encaminhar o novo usuário para uma sala já criada.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/autenticacao', 'cadastro']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Lista de Salas</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para visualização das salas.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/salas', 'lista']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Registros de Conciliações</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para visualização de registros de conciliações antigas.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/autenticacao', 'cadastro']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Criação de Salas</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para criação de novas salas.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/salas', 'criar']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div *ngIf="isUserActive; else painelParaAtivacao" class="mt-3">
            <div class="row m-0 p-4">
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2" *ngIf="userIsAdminOrModerator">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Cadastrar Novo Usuário</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para auxiliar criação de novos usuários, além de encaminhar o novo usuário para uma sala já criada.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/autenticacao', 'cadastro']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Lista de Salas</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para visualização das salas.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/salas', 'lista']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2" *ngIf="userIsAdminOrModerator">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Registros de Conciliações</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para visualização de registros de conciliações antigas.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/autenticacao', 'cadastro']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-2 d-flex align-items-center justify-content-center my-2" *ngIf="userIsAdminOrModerator">
                    <div class="card width80">
                        <div class="card-body">
                            <h5 class="card-title">Criação de Salas</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Componente para criação de novas salas.</h6>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-wrapper">
                                <button [routerLink]="['/salas', 'criar']" class="btn btn-primary shadowForButtons ml-auto d-block">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #painelParaAtivacao>
                <div class="mt-5 d-flex justify-content-center">
                    <div class="py-3">
                        <p>
                            Parece que você ainda não está ativo, <a href="#">reenviar seu e-mail de ativação?</a>
                        </p>
                    </div>
                </div>
        </ng-template>
    </div>
</div>
