.painelWrapper{
    min-height: 90vh;
    height: 100%;
}

.tamanhoPainel{
    height: 20rem;
}

.componentesDashboard{
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
}

.shadowForButtons{
    box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.8)
}

.card {
    height: 100%;
}

.titleBorder {
    border-left: 1rem solid #3f51b5;
}