<div class="card" [ngClass]="{'firstCard': firstCard, 'restOfCards': !firstCard}">
    <div class="card-body">
        <div class="d-flex">
            <h5 class="card-title w-100">Sala {{sala?.id}}</h5>
            <div class="d-block ml-auto">
                <div class="d-flex">
                    <span class="d-flex align-items-center justify-content-center">
                        <span class="onlineBall bg-success mx-2"></span>
                        0/{{sala?.integrantes.length}}
                    </span>
                </div>
            </div>
        </div>
        <h6 class="card-subtitle my-1">{{sala?.descricao}}</h6>
    </div>
    <div class="card-footer">
        <div class="card-footer-wrapper">
            <button class="btn btn-secondary mx-3 shadowForButtons">Integrantes</button>
            <button [routerLink]="['/chat', sala?.id]" class="btn btn-primary shadowForButtons">Entrar</button>
            <!-- <button class="btn btn-secondary mx-3 shadowForButtons" [disabled]="(!loggedUser?.is_admin && !loggedUser?.is_moderator) && !sala?.is_active">Integrantes</button>
            <button [routerLink]="['/chat', sala?.id]" [disabled]="(!loggedUser?.is_admin && !loggedUser?.is_moderator) && !sala?.is_active" class="btn btn-primary shadowForButtons">Entrar</button> -->
        </div>
    </div>
</div>