<div>
    <div>
        <h1 class="h3">Bem vindo!</h1>
        <p class="lead">
            Estes são os componentes que você tem acesso:
        </p>
    </div>

    <div *ngIf="loggedUser?.is_admin || loggedUser?.is_moderator; else commonUser">

    </div>
    <ng-template #commonUser>
        <div class="row">
            <div *ngFor="let sala of _salasStoreService.salas$ | async" class="col-12 col-sm-6 col-md-4">
                <app-sala [sala]="sala"></app-sala>
            </div>
        </div>
    </ng-template>
</div>
