<div class="chatContainer">
    <app-chat-navbar class="navbarChatComponent" (ativacaoEmitter)="chamarAtivacaoSala()"></app-chat-navbar>
    <div class="row contentContainer">
        <div class="my-2 col-12 col-sm-9 h-100">
            <app-chat-mensagens [mensagens]="sala?.mensagens" [loggedUser]="loggedUser"></app-chat-mensagens>
        </div>
        <div class="my-2 col-sm-3 row p-0 h-100">
            <div class="pb-1 col-12 h-50">
                <app-chat-integrantes [integrantes]="sala?.integrantes"></app-chat-integrantes>
            </div>
            <div class="pt-1 col-12 h-50">
                <app-chat-resumo-acordos></app-chat-resumo-acordos>
            </div>
        </div>
    </div>
    <app-chat-chat-box class="chatBox" [isActive]="sala?.is_active" [loggedUser]="loggedUser" (emitirNovaMensagem)="enviarNovaMensagem($event)"></app-chat-chat-box>
</div>
<app-message *ngIf="messageObj?.isToShow" [messageType]="messageObj?.messageType" [@messageAnimation]>
    <strong>{{messageObj?.strongText}}</strong>{{messageObj?.messageText}}
</app-message>