<div [ngClass]="{'d-flex': true, 'innerMessageWrapper': true, 
'align-items-center': true, 'justify-content-end': isTheOwner, 'justify-content-start': !isTheOwner}">
    <div [ngClass]="{'card': true, 'caixaMensagemParaDono': isTheOwner, 'caixaMensagemOutros': !isTheOwner}">
        <div class="card-body">
            <h4 class="card-title">{{usuarioCriador?.nome}}</h4>
            <h6 class="card-subtitle mb-2 fontSizeSmall">{{mensagem?.data | date: 'dd/MM/yyyy HH:mm'}}</h6>
            <p class="card-text">{{mensagem?.mensagem}} </p>
        </div>
    </div>
</div>
